<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href="/admin"> Back</a>
<h2>Create user</h2>
<form th:method="POST" th:action="@{'/admin/create'}" th:object="${user}">

    <label for="username">Name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>

    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>

    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>

    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <p>
        <label>Roles:
            <input type="checkbox" th:name="allRoles"
                   th:each="role , roleStat: ${allRoles}"
                   th:text="${role.authority}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <br>
    <input type="submit" value="Save"/>
</form>


<br>
<input type = button value="Logout" onclick="window.location.href = '/logout'">
</body>
</html>